.component{
    width: 70%;
    margin-left: 15%;
    margin-top: 1.5%;
    box-shadow: 2px 2px 5px  5px #4444;
    padding: 1%;
    border-radius: 10px;
    background-color: #00FFFF;
}
.component h1{
    font-family: 'Topzera';
    font-size: 80;
    margin-left: 5%;
    display: inline;
}

.component img{
    width: 8%;
}
.component form{
    display: inline;
}
.btn2:hover{
    transition: 0.3s;
    transform: scale(1.02);
    box-shadow: 2px 2px 5px  5px #4444;
}
.btn2{
    margin-top: 4%;
    width: 8.5%;
    padding: 0%;
    float: right;
    border: none;
    border-radius: 100000px;
}
.btn2 img{
    margin: 0%;
    border-radius: 100000px;
    width: 100%;
}
.component li {
    margin-bottom: 1px;
    padding: 5px 10px;
  }
  .component li ul{
    display: none;
    transition: display 0.3s;
  }
  .component li:hover ul{
    display: block;
    transition: 1s cubic-bezier(.13, .98, 0, 0);
  
  }
  
  .component ul ul li {
  background-color: rgb(0, 150, 250);
  transition: 0.3s;
  }
  .component ul ul li:hover {
    transform: scale(1.05);
}