.component{
    width: 70%;
    margin-left: 15%;
    margin-top: 1.5%;
    box-shadow: 2px 2px 5px  5px #4444;
    padding: 1%;
    border-radius: 10px;
    background-color: #00FFFF;
}
.component h2{
    font-family: 'Topzera';
    font-size: 60;
    margin-left: 5%;
    display: inline;
}

.component img{
    width: 8%;
}
.component form{
    display: inline;
}
.btn{
    margin-top: 4%;
    height: 10%;
    float: right;
    border-radius: 10px;
}
.component li {
    margin-bottom: 1px;
    padding: 5px 10px;
  }
  .component li ul{
    display: none;
    transition: display 0.3s;
  }
  .component li:hover ul{
    display: block;
    transition: 1s cubic-bezier(.13, .98, 0, 0);
  
  }
  
  .component ul ul li {
  background-color: rgb(0, 150, 250);
  transition: 0.3s;
  }
  .component ul ul li:hover {
    transform: scale(1.05);
}
/*.component1 li {
    margin-bottom: 1px;
    padding: 5px 10px;
  }
  .component1 li ul{
    display: none;
    transition: display 0.3s;
  }
  .component1 li:hover ul{
    display: block;
    transition: 1s cubic-bezier(.13, .98, 0, 0);
  
  }
  
  .component1 ol ol li {
  background-color: rgb(0, 150, 250);
  transition: 0.3s;
  }
.component1{
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
    box-shadow: 2px 2px 5px  5px #4444;
    padding: 1%;
    border-radius: 10px;
    background-color: #00FFFF;
}
.component1 h2{
    font-family: 'Topzera';
    font-size: 60;
    margin-left: 5%;
    display: inline;
}

.component1 img{
    width: 8%;
}
.component1 form{
    display: inline;
}
.component1 ul ul li {
    background-color: rgb(0, 150, 250);
    transition: 0.3s;
}
.component1 ul ul li:hover {
    transform: scale(1.1);
}
*/