/*backToTop*/
#BackToTop{
    position: fixed;
    margin-left: 93%;
    margin-top: 45%;
    width: 4.5%;
    opacity: 0.5;
}
#BackToTop img{
    width: 100%;
}

/*Menu*/
.Fixar{
    position: fixed;
    width: 100%;
}
/*Container Padrão*/
.container{
    width: 80%;
    margin-left: 10%;
    margin-top: 4%;
    align-items: center;
}
.container h2{
    font-family: 'Topzera';
    font-size: 50;
}
/*Poder: Invisibilidade*/
.Invisible{
    height: 0%;
    width: 0%;
    opacity: 0;
}

/*Gundo do body*/
.Fundo{
    background-color: #F9F9F9;
}

/*Titulo das páginas*/
#Favorit{
    margin-left: 38.8%;
    font-family: 'Topzera';
    font-size: 100px;
    color: #900020;
}
#Recomend{
    margin-left: 30%;
    font-family: 'Topzera';
    font-size: 100px;
    color: #900020;
}
#Artist{
    margin-left: 38.5%;
    font-family: 'Topzera';
    font-size: 100px;
    color: #900020;
}
#Gener{
    margin-left: 40%;
    font-family: 'Topzera';
    font-size: 100px;
    color: #900020;
}