/*Navegação Interna*/
.menu{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 24.3%;
    width: 51.45%;
}

/*Sections da Página Inicial*/
.Gener h2{
    text-align: center;
}
.btn{

    width: auto;
    margin-top: 2.5%;
    margin-left: 65%;
    border-radius: 10px;
  }

.UltimosFavorit h2{
    text-align: center;
}
/*Seção Amigos*/
.AmigosDisplay h2{
    text-align: center;
}
.AmigosDisplay ul li h5{
    display: inline;
}
.AmigosDisplay ul li form{
    display: inline;
    margin-left: 70%;
}
.AmigosDisplay ul li form img{
    display: inline;
    width: 100%;
}
.AmigosDisplay ul li form button{
    display: inline;
    border-radius: 10px;
    width: 5%;
}
.btn_search{
    height:40px;
    width:10%;
    background-color:#00FFFF;
    border-radius: 5px;
    border:solid 0.5px transparent;
    color:white;
}
.y3{
    border:solid black 1px;float:right;
    width:25px;text-align:center;
    color:white;background:red;cursor:pointer;
    height:25px;
}
#formMigos{
    align-items: center;
    margin-top: 3%;
}

.pesquisaMigos{
    border-radius: 5px;
    height: 40px;
    width: 89.3%;
}

/*Secção Alterar e Cancelar*/
.Information h2{
    text-align: center;
}

/*Formulário de Senha*/
.inputar{
    border-radius: 10px;
}
.AlterPasword{
    margin-bottom: 3%;
}
.AlterPasword table td{
    width: 50%;
}

.btn3{
    border-radius: 10000px;
    width: 150px;
    height: 150px;
}
.NoFim{
    position: absolute;
    margin-left: 0%;
    margin-top: 5.5%;
}
#resultado{
    display: block;
}