/*backToTop*/
#BackToTop{
    position: fixed;
    margin-left: 93%;
    margin-top: 45%;
    width: 4.5%;
    opacity: 0.5;
}
#BackToTop img{
    width: 100%;
}
/*Menu*/
.Fixar{
    position: fixed;
    width: 100%;
}
/*Navegação Interna*/
.menu{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 24.3%;
    width: 51.45%;
}
/*Container Padrão*/
.container{
    width: 80%;
    margin-left: 10%;
    margin-top: 4%;
    align-items: center;
}
/*Poder: Invisibilidade*/
.Invisible{
    height: 0%;
    width: 0%;
    opacity: 0;
}
.container h2{
    font-family: 'Topzera';
    font-size: 50;
}

/*Sections da Página Inicial*/
.Gener h2{
    margin-left: 40%;
}
.btn{

    width: auto;
    margin-top: 2.5%;
    margin-left: 65%;
    border-radius: 10px;
  }

.UltimosFavorit h2{
    margin-left: 38%;
}
.Fundo{
    background-color: #F9F9F9;
}
/*Seção Amigos*/
.AmigosDisplay h2{
    margin-left: 42%;
}
.AmigosDisplay ul li h5{
    display: inline;
}
.AmigosDisplay ul li form{
    display: inline;
    margin-left: 70%;
}
.AmigosDisplay ul li form img{
    display: inline;
    width: 100%;
}
.AmigosDisplay ul li form button{
    display: inline;
    border-radius: 10px;
    width: 5%;
}
.btn_search{
    height:40px;
    width:10%;
    background-color:#00FFFF;
    border-radius: 5px;
    border:solid 0.5px transparent;
    color:white;
}
.y3{
    border:solid black 1px;float:right;
    width:25px;text-align:center;
    color:white;background:red;cursor:pointer;
    height:25px;
}
#formMigos{
    align-items: center;
    margin-top: 3%;
}

.pesquisaMigos{
    border-radius: 5px;
    height: 40px;
    width: 89.3%;
}

/*Secção Alterar e Cancelar*/
.Information h2{
    margin-left: 39.2%;
}
.AlterPasword h2{

}
.AlterPasword{
    margin-bottom: 3%;
}
.AlterPasword table td{
    width: 50%;
}

.btn3{
    border-radius: 10000px;
    width: 150px;
    height: 150px;
}
.NoFim{
    position: absolute;
    margin-left: 20%;
    margin-top: 5.5%;
}
#resultado{
    display: block;
}