.btn{
  width: auto;
  float: right;
  margin-right: 5%;
  margin-top: 2.5%;
}
.menu{
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 43.35%;
  width: 13.3%;
}
.Formulario{
  height: 55%!important;
  background-color: #FFFDF1;
  width: 30%;
  margin-left: 35%;
  box-shadow: 2px 2px 5px  5px #4444;
  padding: 1%;
  border-radius: 10px;
}

.Formulario h2{
  text-align: center;
  font-size: 60px;
  font-family: 'Topzera';
  color: #900020;
}
.pesquisa{
    width: 100%;
    border-radius:30px;
}
