<!DOCTYPE html5>
<html>
<head>
	<meta charset="UTF-8">
  <link rel="stylesheet" href="../Fontes/stylesheet.css" type="text/css">
  <link rel="stylesheet" href="../Css/w3.css" type="text/css" >
  <link rel="stylesheet" href="../Css/Confirma.css" type="text/css">
	<title>Squeeze</title>	
</head>
<body>
		<div class="Formular" style="margin-top:5%;" method="post" action="../Admin/delART.php">
			<h1>Você tem certeza que deseja excluir isso?</h1>
			<form action="Deleta.php">
				<input type="hidden" value="ID_PHP">
				<button class="btn5 w3-btn w3-blue" type="submit">Deletar</button>
				<a href="../Admin/Admin.php"><button class="btn5 w3-btn w3-blue" type="reset">Cancelar</button></a>
			</form>
		</div>
</body>
</html>