/*backToTop*/
#BackToTop{
    position: fixed;
    margin-left: 93%;
    margin-top: 45%;
    width: 4.5%;
    opacity: 0.5;
}
#BackToTop img{
    width: 100%;
}

/*Menu*/
.Fixar{
    position: fixed;
    width: 100%;
}
/*Container Padrão*/
.container{
    width: 80%;
    margin-left: 10%;
    margin-top: 4%;
    align-items: center;
}
.container h2{
    font-family: 'Topzera';
    font-size: 50;
}
/*Poder: Invisibilidade*/
.Invisible{
    height: 0%;
    width: 0%;
    opacity: 0;
}

/*Gundo do body*/
.Fundo{
    background-color: #F9F9F9;
}

/*Imagem de Fundo HomePage*/
.ImageFundo{
    background-image: url(../Images/Home2.jpg);
    background-repeat: repeat;
}
#Logo{
    font-family: 'Topzera';
    font-size: 150px;
    margin-top: 30%;
    margin-left: 35%;
    color: #900020;
}
/*Titulo das páginas*/
#Title{
    text-align: center;
    font-family: 'Topzera';
    font-size: 100px;
    color: #900020;
}
